/config/codestyles/Default.xml
/config/colors/*
/config/consoles/*
/config/disabled_*
/config/extensions/*
/config/jdbc-drivers/*
/config/options/*
!config/options/editor.xml
!config/options/ide.general.xml
/config/plugins/*
/config/port
/config/port.lock
/config/tasks/*
/system
*.key
*.token
